body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
  margin: 0 auto;
  
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.electronic-item {
  padding: 10px;
  display: flex;
}

.electronic-item-action {
  float: left;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  width: 30px;
  margin-right: 10px;
  text-align: center;
}

.electronic-item-action :hover {
  cursor: pointer;
}

.electronic-item-action p {
  color: white;
  font-weight: bold;
}

.electronic-item-info {
  float: right;
}

.electronic-item-info p:first-child {
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 18px;
}

.electronic-item-info p {
  margin: 0;
}

.electronic-box {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
}

.consumption {
  text-align: center;
}

.collapsible {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 4px;
}

.collapsible-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  border: none;
  width: 100%;
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  height: auto;
  padding-left: 15px;
  transition: max-height 0.3s ease-out;
}

.collapsible-content.open {
  max-height: 500px;
}
